.message
{
  position: absolute;
  right: 0;
  top:50px;
  width: fit-content;
  z-index: 20;
}

.outer {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.map
{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;

}

.Sbutton
{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.container1 {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.container .form {
  margin-top: 15px;
}

.form .input-box {
  width: 100%;
  margin-top: 10px;
}

.input-box label {
  color: #000;
}

.form :where(.input-box input, .select-box) {
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #808080;
  margin-top: 5px;
  border: 1px solid #EE4E34;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}



.address :where(input, .select-box) {
  margin-top: 10px;
}




button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: #e72929;
  color: white;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  box-shadow: 2px 2px 2px 2px grey;
}

button:hover {
  background: #EE3E34;
}

button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

button:hover svg {
  transform: translateX(5px);
}

button:active {
  transform: scale(0.95);
}

