<app-not-found
[visible]="!food"
notFoundMessage="Food Not Found"
resetLinkRoute="Back to Home page"></app-not-found>

<div *ngIf="food" class="container">
  <img [src]="food.imageUrl" [alt]="food.name"/>

  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <ng-container *ngFor="let starIndex of [0, 1, 2, 3, 4]">
        <i [ngClass]="{
            'red-star': starIndex < food.stars,
            'grey-star': starIndex >= food.stars
          }">★</i>
      </ng-container>
    </div>

    <div class="origins">
      <span *ngFor="let origin of food.origins">
        {{origin}}
      </span>
    </div>

    <div class="tags">
      <a *ngFor="let tag of food.tags" routerLink="/tag/{{tag}}">
        {{tag}}
      </a>
    </div>

    <div class="cook-time">
      <span>
        Time to cook about <strong>{{food.cookTime}}</strong> minutes
      </span>
    </div>

    <div class="price">
      <span>
        {{food.price | currency}}
      </span>
    </div>

    <button (click)="addToCart()">Add To Cart</button>

  </div>
</div>
